body {
    font-family: sans-serif;
    background-color: rgb(173, 230, 227);
    flex-wrap: wrap;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}
.store {
    background-image:linear-gradient(rgb(0, 0, 0),rgb(251, 152, 152));
    color: black
    text-decoration: none;
    padding: 15px;
    font-size: 29px;
    border-radius: 10px;
    display: block;
}
nav {
    border-top: 5px solid lightpink;
    border-bottom: 5px solid lightpink;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration:none;
    display:block;
}
h1 {
    text-align: center;
    background: -webkit-linear-gradient(rgb(182, 195, 255),black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-right: 10px;
    
    
}
.kwadratu {
    background-color: lightpink;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-radius: 30px;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}
.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;

}

footer {
    background-color: rgb(112, 168, 221);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}


.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.pon{
    background-color: #811d1d;
    position: fixed;
    display: block;
    right:10px;
    width:100px;
    height:250px;
    top:110px;
    padding-left: 10px;
    padding-right:10px ;
    color:white;
    border-radius: 15px;
}
.pono2{
    position: relative;
    left:30px;
}
.text:hover{
    color:rgb(167, 208, 221);
    padding-top:20px;
}

.sale{
    position:absolute;
    right:70px;
}
h1{
    font-size:40px;
}
li{
    font-size:20px;
}
img {
    background-color: lightpink;
}
.wes:hover{
  border: 5px solid red;
}
.wes2:hover{
  border: 5px solid red;
}
.wes3:hover{
  border: 5px solid red;
}
.wes4:hover{
  border: 5px solid red;
}


